*{
margin:0;
padding:0;
font-family: "montserrat",sans-serif;

}
.logo{
line-height:100px;
float:left;
text-transform: uppercase;
}
.nav{

over-flow:hidden;
height:50px;
background:#34495e;
padding:0 0px;
margin:20;
}
ul li
	{
text-decoration:none;	
list-style-type:none;
over-flow:hidden;
float:left;
width:100%;
color:#f2f2f2;
text-align:center;
padding:10px 30px;
width:200px;
height:40px;
}
ul li ul li{
display:none;
 background-color: #f9f9f9;;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
text-decoration:none;

}
ul li a:hover
{
background-color:pink;
color:green;
}
ul li:hover ul li{
width:100%;
}
ul li:hover ul li{
display:block;
width:100%;
padding:0%;
 
}