body{
	padding:0;
	margin:0;
}
.btn{
	display: inline-block;
	width:50px;
	height:40px;
	background:#f1f1f1;
	margin:10px;
	border-radius:30%;
	box-shadow: 0 5px 15px -5px #000000070;
	color:#3498db;
	overflow:hidden;
	position:relative;
}
.btn i{	
line-height:45px;
font-size:26px;
transition:0.2s liner;
}
.btn:hover i{
	transform: scale(1.3);
	color:#f1f1f1;
}
.btn::before{
	content:"";
	position:absolute;
	width:100%;
	height:100%;
	background:#3498db;
	transform:rotate(45deg);
	left:-110%;
	top:90%;
}
.btn:hover::before{
animation: aaa 0.7s 0.1;
top: -10%;
left: -10%;
}
@keyframes aaa{
	0%{
	left:-60%;
	top:40%;	
	}50%{
	left:-60%;
	top:40%;
	}100%{
	left:-60%;
	top:40%;
	}
	